SPRING_DATASOURCE_URL=jdbc:postgresql://identity-lasitha6646.f.aivencloud.com:23584/defaultdb?sslmode=require
DB_USERNAME=avnadmin
DB_PASSWORD=AVNS_yznanR4csOCgDaLQ0Gk

# OAuth2 Configuration
OAUTH2_ISSUER_URI=http://localhost:8080/api/v1
OAUTH2_CLIENT_ID=identity-service-client
OAUTH2_CLIENT_SECRET=secret
OAUTH2_REDIRECT_URIS=http://localhost:3000/callback,http://localhost:8081/login/oauth2/code/identity-service
OAUTH2_SCOPES=openid,profile,email,read,write

